#content-table-suggestion td,
#content-table-suggestion th {
    text-align: left;
    padding: 12px 24px;
    font-family: 'PingFangSC-Medium';
}
#content-table-suggestion th {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.54);
    letter-spacing: 0;
    border-bottom: 1px solid #e0e0e0;
}
#content-table-suggestion tr {
    border-bottom: 1px solid #e0e0e0;
}
#content-table-suggestion td {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.68);
    letter-spacing: 0;
    font-weight: bold;
    padding: 12px 26px;
}
#content-table-suggestion .export-wrapper {
    text-align: right;
    font-size: 13px;
    color: #abb29f;
    letter-spacing: 0;
    cursor:pointer;
}
#content-table-suggestion .table-operation {
    text-align: right;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.54);
    letter-spacing: 0;
}

#content-table .table-operation a:nth-child(2) {
    margin: 0 24px;
}

#question-content{
    margin-left: 110px;
    margin-top: -25px;
    width: 230px;
    height: 100px;
    font-size: 13px;
}

#response-content{
    margin-left: 110px;
    margin-top: -25px;
    width: 230px;
    height: 100px;
    font-size: 13px;
}

.place-response{
    margin-left: 25px;
    width: 55px;
    height: 13px;
    font-family: PingFangSC-Medium;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 13px;
    margin-top: 35px;
}

#page-suggestion {
    position: relative;
    top: -7px;
    font-family: 'PingFangSC-Medium';
}

#page-question {
    position: relative;
    top: -7px;
    font-family: 'PingFangSC-Medium';
}