<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="beike.visitorsystem.guide.mapper.SignInMapper">
    <resultMap id="SignInMap" type="beike.visitorsystem.guide.model.SignIn">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="attractionId" column="attraction_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <insert id="addSignIn">
        insert into bk_visitor_signing(id,user_id,attraction_id,create_time,update_time)
        values(#{si.id},#{si.userId},#{si.attractionId},#{si.createTime},#{si.updateTime});
    </insert>

    <select id="getSignInStatusByUserId" resultType="BigInteger">
        select attraction_id from bk_visitor_signing where user_id = #{user_id} order by create_time;
    </select>

    <select id="getSignInByUserId" resultType="BigInteger">
        select DISTINCT attraction_id from bk_visitor_signing where user_id = #{user_id};
    </select>
</mapper>