.input-wrapper {
	margin-top: 22px;
}
.input-box {
	padding: 4px 10px;
	margin-right: 12px;
	border-radius: 6px;
	border: 1px solid #cacaca;
	outline: none;
}
.setting-button {
	outline: none;
	border: none;
	background-color: blue;
	color: #fff;
	padding: 4px 10px;
	border-radius: 6px;
}